h1{
    text-align: center;
    color: royalblue;
    border: 5px solid rosybrown;
    border-radius: 25%;
    border-style: groove;
}
h3{
    text-align: center;
}
a{
    text-align: center;
    align-items: center;
    color: red;
}
div{
justify-content: center;
}